*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}

.game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    background-color: rgba(211, 211, 211, 0.414);
    margin: auto;
}
#character{
    width: 30px;
    height: 50px;
    position:relative;
    top: 150px;
    left: 100px;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 90px;}
    70%{top: 90px;}
    100%{top: 150px;}
}

body {
    background-image: url("background.png");
    background-size: cover;
}
   

#block{
    width: 30px;
    height: 20px;
    position: relative;
    top: 150px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p {
    font-size: 1.8em;
    line-height: 1.4em;
    margin: 15px;
 }